
body { 

    font-family: sans-serif;
    font-size: 20px;
    color: #1B281B;
    line-height: 1.4;
}

section {
    margin-block: 50px;
}

header {
    text-align: center;
}

h1 {
    font-family: sans-serif;    /* burada 3 tane olmasinin sebebi bazi bilgisayarlarda her yazi stilinin calismiyor olmasi. o yuzden biri olmazsa digerini calistiriyor.*/
    color: #474849;           /* color:inherit yazarsak linklerdeki maviligi normale döndürür.*/
    text-align: center;
    line-height: 1,1;
}

h2 {
    font-family: sans-serif; 
    color: #cb721c;
}

p {
    font-family: sans-serif; 
}

.steal-bg{
    background-color: #22466c;
    border: #4676a9 solid 5px;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.steal-text{
    color: #22466c;
}


footer {
    background-color: #22466c;
    border: #4676a9 solid 5px;
    color: #fff;
    padding: 20px;
    text-align: center;
}